<h2>Project</h2>
<%= link_to 'Edit Project Details', edit_project_path(@project) if @project.admin == @user %>
<p>
<b>Project:</b> <br />
<%= @project.name %>
</p>
<b>Description:</b> <br />
<%= @project.description %>
</p>
<b>Admin:</b> <br />
<%= @project.admin.login + " <" + @project.admin.email + ">" %>
</p>
<b>Project members:</b> <br />
<%= @project.users.size %>
</p>
