<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <% if @admin %>
    <!-- Disable changing admin user
    <div class="field">
      <%# f.label :admin %><br />
      <%# f.collection_select :admin_id, @users, :id, :email, { :selected => @project.admin_id } %>
    </div>
    -->
    <div class="field">
      <%= f.label :users %><br />
      <%= f.collection_select :user_ids, @users, :id, :email, { :selected =>  @project.user_ids }, { "multiple" => true, "size" => 10 } %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
