<h1><%= title %></h1>

<table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>State</th>
      </tr>
  <% @bugs.each do |bug| %>
    <tr>
      <td><%= link_to bug.id, project_bug_path(bug.project, bug) %></td>
      <td><%= link_to bug.name, project_bug_path(bug.project, bug) %></td>
      <td><%= bug.description %></td>
      <td><%= bug.state %></td>
    </tr>
  <% end %>
</table>

<br />
