<h1>Listing bugs</h1>

<table>
  <% @bugs.each do |category, bugs| %>
    <tr>
      <th colspan="6"><%= category.to_s.capitalize %></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% bugs.each do |bug| %>
      <tr>
        <td><%= bug.name %></td>
        <td><%= bug.description %></td>
        <td><%= bug.status %></td>
        <td><%= link_to 'Show', project_bug_path(@project, bug) %></td>
        <td><%= link_to 'Edit', edit_project_bug_path(@project, bug) %></td>
        <td><%= link_to 'Destroy', project_bug_path(@project, bug), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />

<%= link_to 'New Bug', new_project_bug_path(@project) %> <br />
