<div class="column grid_7">
  <%= link_to "All" %> |
  <%= link_to "New", {:state => "new"} %> |
  <%= link_to "Assigned", {:state => "assigned"} %> |
  <%= link_to "Open", {:state => "opened"} %> |
  <%= link_to "Resolved", {:state => "resolved"} %> |
  <%= link_to "Closed", {:state => "closed"} %>
  <%= render :partial =>'list', :locals => { } %>
</div>

<div class="column grid_3">
  <%= render :partial =>'projects/details' %>
  <%= link_to 'New Bug', new_project_bug_path(@project) %> <br />
</div>
