<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bug.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bug.description %>
</p>

<p>
  <b>State:</b>
  <%= @bug.state %>
</p>

<p>
  <b>Created by:</b>
  <%= @bug.creator.login.to_s + " <" + @bug.creator.email.to_s + ">" %>
</p>

<p>
  <b>Assigned to:</b>
  <%= @bug.assignee.present? ? @bug.assignee.login.to_s + " <" + @bug.assignee.email.to_s + ">" : "Unassigned" %>
</p>

<p>
<% @bug.valid_events(@user).each do |event| %>

  <%= form_for([@project, @bug]) do |f| %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :state %>
    <%= hidden_field_tag "bug[next_event]", event.to_s %>
    <%=
      begin
        render :partial => "#{@bug.state.to_s}", :locals => {:f => f}
      rescue
        nil
      end
    %>
    <%= f.submit "#{event.to_s.capitalize}" %>
  <% end %>

<% end %>
</p>

<%= link_to 'Edit', edit_project_bug_path(@project, @bug) if @bug.creator == @user %>
<%= link_to 'Destroy', project_bug_path(@project, @bug), :confirm => 'Are you sure?', :method => :delete if @bug.creator == @user %><br />
<%= link_to 'Back', project_path(@project) %>
