<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bug.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bug.description %>
</p>

<p>
  <b>Status:</b>
  <%= @bug.status %>
</p>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
